.JoinPage{
    background-color: #f05053;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vmax;
}

.JoinContainer >img{
    width: 10%;
    margin: 1vmax;
}

.JoinContainer >h1{
    color: white;
    font-size: 3vmax;
    font-family: "Dongle";
    width: 10vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
}

.joinbtn{
    width: 10vmax;
    padding: 0.5vmax;
    border: none;
    margin: 2vmax;
    border-radius: 1vmax;
    background-color: #764ba2;
    font-size: 1.8vmax;
    font-family: "Dongle";
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.joinbtn:hover{    
    background-color: #5c2494;
    font-size: 1.9vmax;
}

#joinInput{
    width: 20vmax;
    padding: 1vmax;
    border: none;
    border-radius: 1vmax;
    outline: none;
    background-color: #eea0c1;
}

.footer{
    background-color: #9a78f7;
    height: 8vh;
    width: 100vw;
    color: white;
    text-align: right;
    font-size: 2vmax;
    font-family: "Dongle";
}
.footText{    
    font-size: 2vmax;
    font-family: "Dongle";
    color: white;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 2vw;
}
.footText:hover{    
  text-decoration: underline;
}